
.body { 
  background-image: url("../public/long-banner.png");

}
.text{
  text-align: center;
  padding-top: 12%;
	padding-bottom: 10vh;
	color: white;
	font-size: 1.83vw;
  letter-spacing: 0.3em;
}
.header{
  text-align:center;
  padding-top: 8%;
	padding-bottom: 10vh;
	color: white;
	font-size: 3vw;
  letter-spacing: 0.4em;
}
.date{
  font-family: 'ZCOOL XiaoWei';
  color:white;
}
.bottom{
  border-color: black;
  padding-bottom: 10%;
}